<header class="d-flex justify-content-center">
  <nav class="navbar p-3">
    <div class="container d-flex align-items-center justify-content-between">
      <a class="logo-container" routerLink="">
        <img src="./../../../../assets/logo.png" class="logo" alt="Logo del sitio" />
      </a>

      <ul class="d-flex flex-row align-items-center justify-content-between">
        <li class="align-items-center">
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link-regular p-2 m-2"> Inicio </a>
        </li>
        <li class="align-items-center">
          <a routerLink="peliculas" routerLinkActive="active" class="link-regular p-2 m-2"> Peliculas </a>
        </li>
        <li class="align-items-center">
          <a routerLink="series" routerLinkActive="active" class="link-regular p-2 m-2"> Series </a>
        </li>
        <li class="align-items-center">
          <a routerLink="login" routerLinkActive="active" class="link-regular p-2 m-2">
            Ingresar
            <fa-icon
              [icon]="arrowRight"
              class="ml-1"
              aria-hidden="true"
            ></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
