/*---------- Cards ----------*/
.cards {
  position: relative;
  background: var(--black50);
  color: var(--grey50);
  border-radius: 12px;
  padding: 8px;
  margin: 12px 6px;
  width: 256px;
  height: 480px;
  transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;

  background: var(--grey700);
  backdrop-filter: blur(80px);
}

.cards:hover {
  background: var(--grey50);
  color: var(--black50);
}
.cover-page {
  width: 100%;
  max-height: 360px;
  border-radius: 8px;
}

.title {
  position: absolute;
  left: 16px;
  top: 400px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.rating-container {
  position: absolute;
  height: 32px;
  left: 16px;
  top: 16px;
  padding: 4px 8px;
  color: #FFAD49;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.star-icon {
  font-size: 13px;
}

a,
a:visited,
a:active {
  color: var(--grey50);
}

a:hover {
  color: var(--black50);
}
