<header class="d-flex p-2 justify-content-center blue">
  <nav class="col-10 gray"></nav>
</header>

<section class="d-flex align-items-center justify-content-around green">
  <div class="section-box-1 box col-5"></div>
  <div class="section-box-1 box col-5"></div>
</section>
<section class="d-flex align-items-center justify-content-around red">
  <div class="section-box-2 box col-3"></div>
  <div class="section-box-2 box col-3"></div>
  <div class="section-box-2 box col-3"></div>
</section>

<footer class="d-flex align-items-center yellow"></footer>
