* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  min-height: 800px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between!;
  align-items: end;
  padding: 16px 120px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  backdrop-filter: blur(40px);
}

li {
  list-style: none;
}

.link-regular {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration: none;
  border-radius: 8px;

  color: #a8aebf;
}

.link-regular:hover {
  background-color: var(--primary400);
  color: var(--primary50);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 40px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 588px;
  height: 120px;
  left: 120px;
  top: 160px;
}

.title-container h1 {
  position: static;
  width: 247px;
  height: 80px;
  left: 0px;
  top: 0px;

  /* Heading/H1 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;

  /* Grey/50 */

  color: #ebeef5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}

.title-container h3 {
  width: 58840vw;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/300 */

  color: #8e95a9;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

.search {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border: 1px solid #475069;
  color: #ffffff;
  padding: 18px;
  max-width: 344px;
  width: 100%;
  margin-bottom: 10px;


  width: 344px;
  height: 64px;
}

.background {
  background-color: #141e30;
  position: absolute;
  width: 100%;
  height: 3192px;
  left: 0px;
  top: -160px;
  z-index: -1;
}

.vector3 {
  position: absolute;
  width: 34%;
  height: 345px;
  left: 124px;
  top: 491px;

  /* Secondary/800 */

  background: #0c4265;
  filter: blur(350px);
}

.vector4 {
  position: absolute;
  width: 34%;
  height: 345px;
  left: 57vw;
  top: 1270px;

  /* Success/800 */

  background: #02523a;
  filter: blur(350px);
}
.vector6 {
  position: absolute;
  width: 40%;
  height: 407px;
  left: 146px;
  top: 2282.48px;

  /* Primary/500 */

  background: #5a4af4;
  opacity: 0.4;
  filter: blur(350px);
}

.elipse5 {
  position: absolute;
  width: 28%;
  height: 266.56px;
  left: 63vw;
  top: 700px;

  /* Primary/800 */

  background: #251e62;
  filter: blur(350px);
  transform: rotate(-135deg);
}

.elipse6 {
  position: absolute;
  width: 28%;
  height: 266.56px;
  left: 50vw;
  top: 1679.52px;

  /* Tertary/800 */

  background: #492c66;
  filter: blur(350px);
  transform: rotate(-135deg);
}

.elipse8 {
  position: absolute;
  width: 33%;
  height: 314.49px;
  left: 56vw;
  top: 2665.48px;

  /* Secondary/500 */

  background: #1ea5fc;
  opacity: 0.4;
  filter: blur(350px);
  transform: rotate(-135deg);
}
