* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  min-height: 800px;
}

/*---------- Navbar ----------*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between!;
  align-items: end;
  padding: 16px 120px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  background-color: var(--grey900);
  backdrop-filter: blur(40px);
}

li {
  list-style: none;
}

.link-regular {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration: none;
  border-radius: 8px;

  color: var(--grey200);
}

.body-regular {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey200);
}

.active,
.link-regular:hover {
  background-color: var(--primary400);
  color: var(--primary50);
  cursor: pointer;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 40px;
}

.logo {
  width: 40px;
  height: 40px;
}

/*---------- Title Section ----------*/
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 160px;
  height: 120px;
}

section.title-container {
  height: 100%;
}

.title-container h1 {
  width: 247px;
  height: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.02em;
  margin-bottom: 0px;

  color: var(--grey50);
}

.title-container h3 {
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: var(--grey300);

  margin: 16px 0px;
}

.search {
  background-color: var(--black20);
  border-radius: 12px;
  border: 1px solid var(--grey600);
  color: var(--white100);
  padding: 18px;
  max-width: 344px;
  width: 100%;
  margin-bottom: 80px;

  width: 344px;
  height: 64px;
}

.section-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 40px !important;
  letter-spacing: -0.02em;

  color: var(--grey400);
}

.filter-container {
  padding: 8px;
  background: var(--black20);
  backdrop-filter: blur(80px);
  border-radius: 12px;

  width: 30vw;
  height: 56px;
}

.filter-button {
  padding: 8px 32px;
}

/*---------- Cards ----------*/
.cards {
  position: relative;
  background: var(--black50);
  color: var(--grey50);
  border-radius: 12px;
  padding: 8px;
  margin: 12px 6px;
  width: 256px;
  height: 480px;
  transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;

  background: var(--grey700);
  backdrop-filter: blur(80px);
}

.cards:hover {
  background: var(--grey50);
  color: var(--black50);
}
.cover-page {
  width: 100%;
  max-height: 360px;
  border-radius: 8px;
}

footer {
  z-index: 1;
}

.footer-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-decoration: none;
  border-radius: 8px;

  color: var(--grey200);
}
/*---------- Background ----------*/
.background {
  background-color: var(--grey900);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.vector3 {
  position: absolute;
  width: 34%;
  height: 345px;
  left: 124px;
  top: 491px;

  background: var(--secondary800);
  filter: blur(350px);
}

.vector4 {
  position: absolute;
  width: 34%;
  height: 345px;
  left: 57vw;
  top: 1270px;

  background: var(--success800);
  filter: blur(350px);
}
.vector6 {
  position: absolute;
  width: 40%;
  height: 407px;
  left: 146px;
  top: 2282.48px;

  background: var(--primary500);
  opacity: 0.4;
  filter: blur(350px);
}

.elipse5 {
  position: absolute;
  width: 28%;
  height: 266.56px;
  left: 63vw;
  top: 700px;

  background: var(--primary800);
  filter: blur(350px);
  transform: rotate(-135deg);
}

.elipse6 {
  position: absolute;
  width: 28%;
  height: 266.56px;
  left: 50vw;
  top: 1679.52px;

  background: var(--ternary800);
  filter: blur(350px);
  transform: rotate(-135deg);
}

.elipse8 {
  position: absolute;
  width: 33%;
  height: 314.49px;
  left: 56vw;
  top: 2665.48px;

  background: var(--secondary500);
  opacity: 0.4;
  filter: blur(350px);
  transform: rotate(-135deg);
}
