<header class="d-flex p-2  justify-content-center purple">
  <nav class="col-10 gray">

  </nav>
</header>

<section class="d-flex align-items-center justify-content-around green">
  <div class="gray box col-5">

  </div>
  <div class="gray box col-5">

  </div>
</section>
<section class="d-flex align-items-center justify-content-around red">
  <div class="gray box col-3">

  </div>
  <div class="gray box col-3">

  </div>
  <div class="gray box col-3">

  </div>

</section>

<footer class="d-flex align-items-center yellow">

</footer>
