.red {
  background-color: #de0033;
}
.green {
  background-color: #009054;
}
.aqua {
  background-color: aquamarine;
}
.gray {
  background-color: gray;
}
.purple {
  background-color: #5100ff;
}
.yellow {
  background-color: yellow;
}
.border {
  border: 1px solid black;
}
.box {
  height: 20vh;
}

header{
  height: 25vh;
}
nav{
  height: 20vh;
}
section{
  height: 25vh;;
}
footer{
  height: 25vh;
}
