/*---------- Background ----------*/
.background {
  background-color: var(--grey900);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.vector3 {
  position: absolute;
  width: 34%;
  height: 43vh;
  left: 8vw;
  top: 40vh;

  left: 124px;
  top: 491px;

  background: var(--secondary800), url('/assets/background/vector3.svg');
  filter: blur(350px);
}

.vector4 {
  position: absolute;
  width: 34%;
  height: 345px;
  left: 57vw;
  top: 1270px;

  background: var(--success800);
  filter: blur(350px);
}
.vector6 {
  position: absolute;
  width: 40%;
  height: 407px;
  left: 146px;
  top: 2282.48px;

  background: var(--primary500);
  opacity: 0.4;
  filter: blur(350px);
}

.elipse5 {
  position: absolute;
  width: 28vw;
  height: 266.56px;
  left: 63vw;
  top: 700px;

  background: var(--primary800);
  filter: blur(350px);
  transform: rotate(-135deg);
}

.elipse6 {
  position: absolute;
  width: 28%;
  height: 266.56px;
  left: 50vw;
  top: 1679.52px;

  background: var(--ternary800);
  filter: blur(350px);
  transform: rotate(-135deg);
}

.elipse8 {
  position: absolute;
  width: 33%;
  height: 314.49px;
  left: 56vw;
  top: 2665.48px;

  background: var(--secondary500);
  opacity: 0.4;
  filter: blur(350px);
  transform: rotate(-135deg);
}
