<section class="container">
  <div class="row">
    <div class="col-12 dashboard-title">
      <h2 class="heading-h2">Bienvenido</h2>
    </div>

    <div class="d-flex flex-wrap">
      <div
        class="dashboard-box d-flex flex-column justify-content-center align-items-center"
      >
        <h3 class="heading-h3">93</h3>
        <p class="body-regular">Películas</p>
      </div>
      <div
        class="dashboard-box d-flex flex-column justify-content-center align-items-center"
      >
        <h3 class="heading-h3">50</h3>
        <p class="body-regular">Series</p>
      </div>
    </div>
  </div>
</section>
