<section class="container">
  <div class="row">
    <div class="col-12 dashboard-title">
      <h2 class="heading-h2">Bienvenido</h2>
    </div>

    <div class="d-flex flex-wrap">
      <a
        routerLink="peliculas"
        class="dashboard-box d-flex flex-column justify-content-center align-items-center"
      >
        <h3 class="heading-h3">{{movies.length}}</h3>
        <p class="body-regular">Películas</p>
      </a>
      <a
        routerLink="series"
        class="dashboard-box d-flex flex-column justify-content-center align-items-center"
      >
        <h3 class="heading-h3">{{series.length}}</h3>
        <p class="body-regular">Series</p>
      </a>
    </div>
  </div>
</section>
