<section class="container justify-space-around">
  <div class="row justify-content-around">
    <div class="col-5">
      <div class="image-container">
        <img src="/assets/login.png" alt="" />
      </div>
    </div>
    <div class="col-5">
      <h1 class="heading-h1">Ingresar</h1>

      <form (ngSubmit)="handleLogin()" [formGroup]="loginForm">
        <div class="input-container">
          <fa-icon
            [icon]="envelopeIcon"
            class="form-icon"
            aria-hidden="true"
          ></fa-icon>
          <input
            type="email"
            class="form-input"
            placeholder="Email"
            formControlName="email"
          />
          <p *ngIf="isValid('email')" class="form-error">
            Por favor ingrese un email válido
          </p>
        </div>
        <div class="input-container">
          <fa-icon
            [icon]="keyIcon"
            class="form-icon"
            aria-hidden="true"
          ></fa-icon>
          <input
            type="password"
            class="form-input"
            placeholder="Contraseña"
            formControlName="password"
          />
          <p *ngIf="isValid('password')" class="form-error">
            La contraseña debe tener al menos 8 caracteres
          </p>
        </div>
        <input
          type="submit"
          [disabled]="loginForm.invalid"
          class="form-submit"
          value="Ingresar"
        />
      </form>

      <div class="divider">
        <div class="left-rectangle"></div>
        <h3 class="heading-h3 text-center">Ó</h3>
        <div class="right-rectangle"></div>
      </div>

      <div class="text-center">
        <button class="google-button" (click)="handleGoogleLogin()"></button>
      </div>
    </div>
  </div>
</section>
