<section class="container justify-space-around">
  <div class="row justify-content-around">
    <div class="col-5">
      <div class="image-container">
        <img src="/assets/login.png" alt="" />
      </div>
    </div>
    <div class="col-5">
      <h1 class="heading-h1">Ingresar</h1>

      <form [formGroup]="loginForm">
        <input type="email" class="form-input" placeholder="Email" formControlName="email"/>
        <input type="password" class="form-input" placeholder="Contraseña" formControlName="password"/>
        <input type="submit" class="form-submit" />
      </form>

      <div class="divider">
        <div class="left-rectangle"></div>
        <h3 class="heading-h3 text-center">Ó</h3>
        <div class="right-rectangle"></div>
      </div>

      <div class="text-center">
        <button class="google-button">Ingresar con Google</button>
      </div>
    </div>
  </div>
</section>
