.image-container {
  background: var(--grey900);
  border-radius: 36px;
}

img {
  z-index: 1;
}

.container {
  margin-top: 116px;
  margin-bottom: 28px;
}

h1 {
  margin-bottom: 40px;
}

.form-input {
  padding: 12px 16px;
  padding-left: 56px;
  width: 33vw;
  min-width: 200px;
  height: 64px;
  background: var(--black10);
  border: 1px solid var(--grey700);
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 16px;
  color: var(--white100);
}

.input-container {
  position: relative;
}

.form-submit {
  margin-top: 24px;
  width: 33vw;
  height: 56px;
  min-width: 200px;
  background: var(--primary400);
  border: 2px solid var(--primary400);
  border-radius: 12px;
  color: var(--white100);
}

.form-error {
  color: var(--error500);
}

.form-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 24px;
  color: var(--grey600);
}

.form-icon-right {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: var(--grey600);
}

.divider {
  margin-top: 26px;
  position: relative;
}

.left-rectangle {
  position: absolute;
  width: 40%;
  height: 5px;
  left: 0px;
  top: 16px;
  background: var(--grey800);
  border-radius: 2px;
}

.right-rectangle {
  position: absolute;
  width: 40%;
  height: 5px;
  right: 0px;
  top: 16px;
  background: var(--grey800);
  border-radius: 2px;
}

.google-button {
  width: 21vw;
  height: 69px;
  background-color: transparent;
  border: none;
  background-image: url('./../../../../assets/google_signin_buttons/web/2x/btn_google_signin_dark_normal_web@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

