<section class="container title-container d-flex mb-4">
  <div class="mb-4">
    <h1>PelisUP!</h1>
    <h3>Plataforma para ver películas y series 😉</h3>
  </div>

  <app-search (searchEvent)="searchCatalog($event)"></app-search>

  <div
    class="d-flex filter-container align-items-center justify-content-around mb-4"
  >
    <a
      class="link-regular filter-button"
      [ngClass]="{ active: filter === 1 }"
      (click)="filterHandler(1)"
    >
      Todos
    </a>

    <a
      class="link-regular filter-button"
      [ngClass]="{ active: filter === 2 }"
      (click)="filterHandler(2)"
    >
      Películas
    </a>

    <a
      class="link-regular filter-button"
      [ngClass]="{ active: filter === 3 }"
      (click)="filterHandler(3)"
    >
      Series
    </a>
  </div>

  <div class="container d-flex">
    <h3 class="section-title">
      {{ getActiveCategory() }}
      <span class="body-regular">({{ catalog?.length }})</span>
    </h3>
  </div>
</section>

<app-cards [catalog]="catalog"></app-cards>
